<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
 <div class="navbar-header">
 <a class="navbar-brand" href="#">
 <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
 EJS Is Fun
 </a>
 <h1>Star Wars Quote App!</h1>
 <ol>
   <li><a href="/all">All Quotes</a></li>
   <li><a href="/add.html">Add Quotes</a></li>
   <li><a href="/filter.html">Filter Quotes</a></li>
   <li><a href="/update.html">Update Quote</a></li>
   <li><a href="/delete.html">Delete Quote</a></li>
 </ol>
 </div>
</div>
</nav>
